html{
  background: black;
  width: 100%;
}
body {
  margin: 0 auto;
  padding: 0;
  width: 1280px;
  font-family: 'Anonymous Pro';
  background-color: #DFE9DD;
  color: #000000;
}

.text3,.text4,.text6,.text7{
  font-size: 36px;
  line-height: 120%;
}
.text2,.text5{
  font-size: 30px;
  line-height: 120%;
}
.text1{
  font-size: 36px;
  line-height: 100%;
  padding-top: 40px;
  padding-left: 35px;
  width: 500px;
}
.box{
  position: relative;
}
.table{
  position: absolute;
  right:35px;
  bottom: 80px;
}
.windows1{
  position: relative;
  bottom: 100px;
  height: 800px;
}

.pic1{
padding-top:350px;
padding-left: 35px;
}

.pic2{
  position: relative;
  left: 200px;
  bottom: 500px;
}
.wind1{
position: relative;
  bottom: 700px;
  left: 530px;
}
.text2{
position: absolute;
  bottom: 70px;
  left: 560px;
}
.text3{
  padding-left: 35px;
}
.mac{
padding-left: 35px;
padding-top: 50px;
padding-bottom: 50px;
}
.text4{
  padding-left: 35px;
  padding-bottom: 50px;

}
.paint{
  padding-left: 120px;
}

.pic3{
padding-left: 35px;
padding-top: 100px;
}
.pic4{
position:relative;
left: 80px;
bottom: 80px;
}

.wind2{
  position: relative;
  left: 525px;
  bottom: 630px;
}
.text5{
  position: absolute;
  bottom:140px;
  right: 100px;
}
.windows2{
  position: relative;
  height: 700px;
}
.passport{
  position: relative;
  left: 510px;
  bottom: 130px;
}
.badge{
  position: relative;
  bottom:500px;
  left: 120px;
}
.docs{
  height: 600px;
}
.end{
  padding-top: 70px;
}
.text6{
  position: relative;
  left: 480px;
  bottom: 350px;
}
.endgr{
  height: 550px;
}
