html{
  background: black;
  height: 8000px;
}
body {
  margin: 0 auto;
  padding: 0;
  width: 1280px;
  font-family: 'Anonymous Pro';
  background-color: #DFE9DD;
  color: #000000;
height: 8000px;
}

.text1,.text3,.text4{
  font-size: 36px;
  line-height: 120%;
}
.text2,.text5{
  font-size: 30px;
  line-height: 120%;
}
.text1{
  padding-top: 40px;
  padding-left: 35px;
}
.table{
  position: relative;
  left: 470px;
  bottom: 840px;
}
.windows1{
  position: relative;
  bottom: 150px;
}
.pic1{
  position: relative;
  bottom: 350px;
  left: 35px;
}
.pic2{
  position: relative;
  bottom: 900px;
  left: 200px;
}
.wind1{
  position: relative;
  bottom: 1100px;
  left: 530px;
}
.text2{
  position: relative;
  bottom: 1455px;
  left: 560px;
}
.error{
  position: relative;
  bottom:1500px;
}
.text3{
  position: relative;
  bottom: 1600px;
  left: 35px;
}
.mac{
  position: relative;
  bottom: 1550px;
  left: 35px;
}
.text4{
  position: relative;
  bottom: 1500px;
  left: 35px;
}
.paint{
  position: relative;
  bottom: 1450px;
  left: 120px;
}
.pic3{
position:relative;
bottom: 1350px;
left: 35px;
}
.pic4{
position:relative;
bottom: 1450px;
left: 80px;
}
.wind2{
  position: relative;
  bottom: 2000px;
  left: 525px;
}
.text5{
  position: relative;
  bottom:2330px;
  left:555px;
}
.passport{
  position: relative;
  bottom: 2700px;
  left: 550px;
}
.badge{
  position: relative;
  bottom:2030px;
  left: 120px;
}
.docs{
  position: relative;
  top: 40px;
}
.end{
  position: relative;
  bottom: 2700px;
}
